* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.jumbotron{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}

.content-left{
  width: calc(100% - 35vw);
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url('https://raw.githubusercontent.com/elkar1m/G27_DTS20/master/header.png');
  background-size: cover;
  color: white;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
}

.top-wrapper h1 {
  font-weight: 800;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
  margin-right: 10px;
}

.instagram {
  background-color: #6b064d;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
  
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.logotext {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  font-weight: bold;
  font-size: large;
}

.header-left {
  float: left;
}

.header-left span {
  color: #ff4a4a;
  font-weight: bold;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display :none;
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  
}



.heading {
  padding-top: 15px;
  color: #5f5d60;
  font-size: 30px;
}

#black-heading{
  color: black;
  font-weight: bold;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.profile{
  width: 150px;
  height: 165px;
  border-radius: 100px;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: s;
  font-size: 15px;
  color:black;
  font-size: 15px;
  font-weight: 200;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.vector-pic{
  width: 400px;
}

.about-wrapper{
  margin-top: 15px;
}

.container-about{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}

.content-right{
  float: right;
  padding-left: 70px;
  margin-top: 50px;
  font-size: 20px;
}

.about-heading{
  margin-left: calc(100% - 56vw);
}

.question h2{
  margin-top: 140px;
  font-size: 30px;
  font-weight: 500;
}

.question h3{
  font-size: 20px;
  font-weight: 400;
  line-height: 10px;
}
